:root {
  --blue: #a1d4f8;
  --white: #eaeefd;
  --black: #2c302e;
}
::selection {
  background-color: #ef88f8ce;
}
html {
  scroll-behavior: smooth;
}
.bg-blue {
  background-color: var(--blue);
}
.bg-white {
  background-color: var(--white);
}
.header {
  width: 100%;
  /* float: left; */
  margin-right: -100%;
  position: relative;
  opacity: 1;
  display: block;
  z-index: 2;
  overflow: hidden;
  outline: none;
}
.header .bg-video {
  position: static;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  outline: none;
}
.header video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  outline: none;
}
.header .btm-header {
  position: absolute;
  bottom: 100px;
  right: 50%;
}
/* aspect-ratio is size of your video */
@media screen and (max-aspect-ratio: 2560/1328) {
  .header video {
    height: 100%;
  }
}

@media screen and (min-aspect-ratio: 2560/1328) {
  .header video {
    width: 100%;
  }
}
.header .arrow-btm {
  z-index: 66666;
  position: relative;
  left: 50%;
  color: #fff;
  font-size: 40px;
  width: 50px;
  cursor: pointer;
  height: 50px;
  display: inline-block;
}

.header .arrow-btm .scroll-to-content {
  display: block;
  position: relative;
  left: 0;
  z-index: 150;
  cursor: pointer;
  text-indent: -9999em;
  height: 26px;
  width: 80px;
  overflow: hidden;
  opacity: 0.5;
  -webkit-animation: pulsate 1.5s ease-out infinite;
  -o-animation: pulsate 1.5s ease-out infinite;
  animation: pulsate 1.5s ease-out infinite;
}
.header .arrow-btm .scroll-to-content:hover {
  opacity: 1;
}
.header .arrow-btm .scroll-to-content:before {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  bottom: 14px;
  height: 70px;
  width: 70px;
  border: 2px solid var(--black);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.volume-btn {
  z-index: 66666;
  position: absolute;
  right: 40px;
  top: -15px;
  color: var(--black) !important;
  font-size: 40px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  opacity: 0.5;
}
@-webkit-keyframes pulsate {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

@-o-keyframes pulsate {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

.fullscreen-container2 {
  position: static;
  top: 0;
  left: 0;
  height: 30vh;
  width: 30vw;
  overflow: hidden;
}
/* Stretch Background Video */
.fullscreen-container {
  position: relative;
  min-width: 100%;
  width: 100%;
  height: 56.25vw;
  max-height: calc(100vh - 169px);
  min-height: 480px;
  background: #000;
}
.fullscreen-image {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fullscreen-title {
  z-index: 5;
  position: absolute;
  top: 35%;
  /* width: 100%; */
}
.navigation-menu a:link,
.navigation-menu a:visited {
  background: linear-gradient(#506672cf 0 0) var(--p, 0) 0 / var(--p, 0) 0.2em no-repeat;
  transition: 0.4s, background-position 0s;

  padding: 3px 7px 14px 7px;
  text-shadow: 1px 1px 3px #00000038;
}
.navigation-menu a:hover,
.navigation-menu a:focus {
  --p: 100%;
}
.elevation-appbar {
  background: rgba(217, 217, 217, 0.05);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  mask-image: linear-gradient(rgb(0, 0, 0) 55%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 55%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
  transition: opacity calc(0.5s * 2) cubic-bezier(0.215, 0.61, 0.355, 1);

  /* backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: 0px 6px 6px -3px rgb(0 0 0 / 12%);
  background: #ffffff2b; */

  transition: box-shadow 1s, background 1s;
}
.elevation-appbar .MuiToolbar-root {
  transition: padding-top 0.5s, padding-bottom 0.5s;
  padding-top: 2px;
  padding-bottom: 2px;
}
@media screen and (max-aspect-ratio: 1280/540) {
  .fullscreen-image {
    height: 100%;
  }
}

@media screen and (min-aspect-ratio: 1280/540) {
  .fullscreen-image {
    width: 100%;
  }
}
.bg-wave {
  display: block;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center, 50%, 50%;
}

.MuiTextareaAutosize-root {
  padding: 16px 24px;
  background: #f8f9ffcc;
  font-family: inherit;
  border: 6px solid #94c4f1;
  transition: box-shadow 1s, border-color 1s, background 1s;
  box-shadow: 0px -1px 0px 0px #85bde4;
  border-radius: 40px;
}

.MuiTextareaAutosize-root:hover {
  border-color: #85bde4;
  /* box-shadow: 0px -1px 0px 3px #85bde4 inset; */
}
.MuiTextareaAutosize-root:focus-visible {
  border: none;
  outline: none;
}

.MuiTextareaAutosize-root:focus {
  background: #f8f9ff;
  border: 6px solid #94c4f1;
  box-shadow: 0px 0px 3px 2px #97e7ff inset;
}
.MuiTextareaAutosize-root.Mui-error {
  border-color: #f19494;
  box-shadow: 0px -1px 0px 0px #e48585;
}
.ifram {
  border: none;
  outline: none;
  width: 100%;
  min-height: 700px;
  overflow: hidden;
}

.footer {
  background: #2c302e;
  color: #bdc3d4;
  text-shadow: 1px 1px #252628;
}
.footer .text {
  color: #bdc3d4;
  text-shadow: 1px 1px #252628;
}
.footer label {
  color: #bdc3d4;
  text-shadow: 1px 1px #252628;
}
.footer label {
  color: #bdc3d4;
  text-shadow: 1px 1px #252628;
}
.footer .MuiOutlinedInput-root {
  background: #dfedf3;
  border: 6px solid #505d65;
  box-shadow: 0px -1px 0px 0px #2c302e;
}
.footer .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  box-shadow: 0px -1px 0px 5px #475258;
}
.footer .MuiOutlinedInput-root.Mui-focused {
  background: #e0ebf0;
  box-shadow: 0px 0px 3px 2px #b6bec2 inset;
}
.footer .footer-links {
  list-style: none;
  padding-left: 0;
}
.footer .footer-title {
  word-spacing: 10px;
  letter-spacing: 5px;
  color: #b0dbfa;
}

.footer .footer-links li {
  padding: 6px 0;
}
.footer .footer-links a:link,
.footer .footer-links a:visited,
.team.social-link svg path {
  display: flex;
  align-items: center;
  color: #c9cedd;
  fill: #c9cedd;
  text-decoration: none;
  text-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer .footer-links a:hover,
.footer .footer-links a:focus,
.footer .footer-links a:hover svg path {
  color: #6bb4e9;
  fill: #6bb4e9;
  background-size: 100% 100%;
  background-position: top left 100%;
}

.footer .facebook a:hover,
.footer .facebook a:focus,
.footer .facebook a:hover svg path {
  color: #4064ac;
  fill: #4064ac;
}
.footer .instagram a:hover,
.footer .instagram a:focus,
.footer .instagram a:hover svg path {
  color: #b99869;
  fill: #b99869;
  background-image: linear-gradient(to right, #feda75, #962fbf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer .linkedin a:hover,
.footer .linkedin a:focus,
.footer .linkedin a:hover svg path {
  color: #0e72a3;
  fill: #0e72a3;
}
.footer .twitter a:hover,
.footer .twitter a:focus,
.footer .twitter a:hover svg path {
  color: #1da1f2;
  fill: #1da1f2;
}

.footer .footer-links.social-link {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.footer .footer-links.social-link span {
  padding-left: 10px;
  padding-top: 2px;
}
.footer .footer-links.social-link li {
  padding: 0px 15px;
  display: inline-block;
}

.footer .copyright {
  border-top: 1px solid #eaeefd;
}
.footer .copyright .copyright-links {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
.footer .copyright .copyright-links a:link,
.footer .copyright .copyright-links a:visited {
  color: #c9cedd;
  text-shadow: 1px 1px #252628;
  padding: 0 10px;
}

.team.social-link a:link,
.team.social-link a:visited,
.team.social-link svg path {
  display: flex;
  align-items: center;
  color: #2c302e;
  fill: #2c302e;
  text-decoration: none;
  transition: fill 0.5s, color 0.5s;
}
.team.social-link a:hover,
.team.social-link a:focus,
.team.social-link a:hover svg path {
  transition: fill 0.5s, color 0.5s;
  display: flex;
  align-items: center;
  color: #424242;
  fill: #424242;
  text-decoration: none;
}
.team.social-link {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.MuiTabs-indicator {
  width: 6px;
  background-color: #a1d4f8;
  border-radius: 5px;
  margin-right: 5px;
}
.MuiTimeline-root .MuiSvgIcon-root {
  fill: #2c302ec7;
}
.MuiTimeline-root .MuiTimelineDot-root {
  background: linear-gradient(180deg, #ceebff, #a1d4f8);
  box-shadow: 0px 10px 15px -6px #3683bb4d, 0px 4px 0px 0px #ffffff33 inset;
  position: relative;
  text-shadow: 1px 1px #9ccced;
  background-color: #515754;
  border-width: 0px;
  padding: 20px;
}
.MuiTimeline-root .MuiTimelineConnector-root {
  width: 3px;
  background-color: #6cb6fe;
}
.MuiTimeline-root .MuiTimelineItem-root {
  /* min-height: 170px; */
}
.pricing-box {
  border-radius: 30px;
  border: 5px solid #92d6fc;
  background: linear-gradient(2deg, #4873bb -11.85%, #bad4ff -11.84%, #fff 111.78%);
  padding-bottom: 0px;
  position: relative;
  padding-top: 0;
}
.pricing-box .bg-wave {
  width: 100%;
  border-radius: 26px 24px 0 0;
}
.pricing-box .price-title {
  /* width: 70%; */
  /* padding-bottom: 80px; */
  border-bottom: 1px solid var(--black);
}
.pricing-box .feature {
  display: flex;
  align-items: center;
}

.pricing-box .feature svg {
  margin: 10px;
}
.plan-box {
  border-radius: 30px;
  border: 5px solid #bed5ff;
  background: linear-gradient(2deg, #4873bb -11.85%, #bad4ff -11.84%, #fff 111.78%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  max-width: 350px;
  margin: 15px auto;
}
.feature-table {
  width: 100%;
}
.feature-table tr,
.feature-table th {
  border: none;
}

.feature-table tr:nth-child(even) {
  background-color: #ffffff36;
  border: none;
}
.faq {
  width: 100%;
}
.faq .question {
  border-top: 1px solid #2c302e73;
  padding: 16px;
}
.faq .answer {
  padding: 16px;
}
.category {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #ffffff8c;
  border-radius: 30px;
  transition: all 0.5s;
}
.category:hover {
  box-shadow: 0px 10px 13px -2px #3683bb1f;
}
.category a:link,
.category a:visited {
  text-decoration: none;
  color: #252628;
  border-radius: 30px;
  padding: 10px 25px;
  margin: 5px;
  /* outline: 2px solid; */
  outline-color: var(--white);
  transition: all 0.5s;
  z-index: 999;
}
.category a:hover,
.category a:focus {
  background: rgb(206, 235, 255);
  background: linear-gradient(rgb(206, 235, 255), rgb(161, 212, 248));
  box-shadow: rgba(54, 131, 187, 0.3) 0px 10px 15px -6px, rgba(255, 255, 255, 0.2) 0px 4px 0px 0px inset;
}
.category .active {
  cursor: default;
  border: none;
  outline-color: rgb(161, 212, 248) !important;
  background: rgb(206, 235, 255);
  background: linear-gradient(rgb(206, 235, 255), rgb(161, 212, 248));
  box-shadow: rgba(54, 131, 187, 0.3) 0px 10px 15px -6px, rgba(255, 255, 255, 0.2) 0px 4px 0px 0px inset;
}

.tag {
  display: flex;
  flex-wrap: wrap;
}
.tag a:link,
.tag a:visited {
  text-decoration: none;
  color: #252628;
  border-radius: 30px;
  padding: 10px 25px;
  margin: 5px;
  /* outline: 2px solid; */
  outline-color: var(--white);
  transition: all 0.5s;
}
.tag a:hover,
.tag a:focus {
  /* outline: 1px solid rgb(161, 212, 248); */
  /* outline: 1px solid rgb(161, 212, 248); */
  background: rgb(206, 235, 255);
  background: linear-gradient(rgb(206, 235, 255), rgb(161, 212, 248));
  box-shadow: rgba(54, 131, 187, 0.3) 0px 10px 15px -6px, rgba(255, 255, 255, 0.2) 0px 4px 0px 0px inset;
}
.tag .active {
  cursor: default;
  border: none;
  /* outline: 1px solid rgb(161, 212, 248); */
  outline-color: rgb(161, 212, 248) !important;
  background: rgb(206, 235, 255);
  background: linear-gradient(rgb(206, 235, 255), rgb(161, 212, 248));
  box-shadow: rgba(54, 131, 187, 0.3) 0px 10px 15px -6px, rgba(255, 255, 255, 0.2) 0px 4px 0px 0px inset;
}
.post-card {
  position: relative;
  background-color: #ffffff8c;
  padding: 30px;
  border-radius: 30px !important;
  height: 100%;
  transition: all 0.5s;
  box-shadow: 0px 4px 4px 0px #c4dde53d;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}
.post-card:hover {
  box-shadow: 0px 10px 13px -2px #3683bb1f;
}
.box {
  transition: all 0.5s;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: none;
}
.box img {
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transform: scale(1.1);
}

.post-card:hover .box img {
  width: 100%;
  height: 100%;
  transform: scale(1.04);
  filter: contrast(90%);
}

.post-title:link,
.post-title:visited {
  color: var(--black);
  text-decoration: none;

  background-image: linear-gradient(to right, var(--black), var(--black), #49aae5, #7c66d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  background-position: top left;
  text-shadow: none;

  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.post-title:hover,
.post-title:focus {
  text-shadow: none;
  background-position: top left 100%;
}
.post-category:link,
.post-category:visited {
  color: var(--black);
  text-decoration: none;
  display: inline-block;
  background-image: linear-gradient(to right, var(--black), var(--black), #49aae5, #7c66d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  background-position: top left;
  text-shadow: none;

  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.post-category:hover,
.post-category:focus {
  text-shadow: none;
  background-position: top left 100%;
}

.link-body:link,
.link-body:visited {
  color: var(--black);
  text-decoration: none;

  background-image: linear-gradient(to right, var(--black), var(--black), #3982af, #4c34b1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  background-position: top left;
  text-shadow: none;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.link-body:hover,
.link-body:focus {
  text-shadow: none;
  background-position: top left 100%;
}

.gradient-text {
  background-image: linear-gradient(to right, #49aae5, #7c66d9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
  background-size: 100% 100%;
  background-position: top left 100%;
}
.gradient-text2 {
  background-image: linear-gradient(to right, #03a4e1, #6c51dd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
  background-size: 100% 100%;
  background-position: top left 100%;
}
.btn-comming-soon {
  background: linear-gradient(180deg, #f68eff 0%, #7f68db 100%);
}
.MuiPaginationItem-root {
  cursor: pointer;
  color: rgb(44, 48, 46);
  border-radius: 30px;
  /* border: 1px solid rgb(161, 212, 248); */
  background: linear-gradient(rgb(206, 235, 255), rgb(161, 212, 248));
  box-shadow: rgba(54, 131, 187, 0.3) 0px 10px 15px -6px, rgba(255, 255, 255, 0.2) 0px 4px 0px 0px inset;
}
.MuiPaginationItem-root.Mui-selected {
  /* border: 1px solid rgb(161 212 248 / 52%); */
  background: linear-gradient(rgb(206 235 255 / 34%), rgb(161 212 248 / 45%));
  box-shadow: rgba(54, 131, 187, 0.3) 0px 10px 15px -6px, rgba(255, 255, 255, 0.2) 0px 4px 0px 0px inset;
}
.content img {
  max-width: 100%;
}

.text-card {
  background-color: #ffffff8c;
  border-radius: 30px;
  height: 100%;
  transition: all 0.5s;
  box-shadow: 0px 4px 4px 0px #c4dde53d;
}
.text-card:hover {
  box-shadow: 0px 10px 13px -2px #3683bb1f;
}
.criteria-chcklist {
  list-style: none;
  padding: 0;
}
.criteria-chcklist li {
  margin: 3px 0;
}
.post-body span[data-lexical-excalidraw-json]{
  max-width: 100%;
}